{% extends 'base.html.twig' %}

{% block title %}Edit Consomme{% endblock %}

{% block body %}
    <h1>Edit Consomme</h1>

    {{ include('consomme/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('consomme_index') }}">back to list</a>

    {{ include('consomme/_delete_form.html.twig') }}
{% endblock %}
