{% extends 'base.html.twig' %}

{% block title %}New Consomme{% endblock %}

{% block body %}
    <h1>Create new Consomme</h1>

    {{ include('consomme/_form.html.twig') }}

    <a href="{{ path('consomme_index') }}">back to list</a>
{% endblock %}
