{% extends 'base.html.twig' %}

{% block title %}Assurance index{% endblock %}

{% block body %}
    <h1>Assurance index</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Fichier</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for assurance in assurances %}
            <tr>
                <td>{{ assurance.fichier }}</td>
                <td>{{ assurance.nom }}</td>
                <td>
                    <a href="{{ path('assurance_show', {'id': assurance.id}) }}">Afficher</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
