<h2>Bonjour</h2>

<p>Encore une fois, toute l'équipe ABSHORE se joint à moi pour te souhaiter la bienvenue parmi nous.<br>
    Toute l'équipe est tout à fait disponible pour t'aider dans tes premiers pas et faciliter ton intégration parmi nous.<br>

    Je viens de te créer ta boite mail interne pour toutes tes communications professionnelles : </p>

<p>Nouvelle adresse email : {{ mail }}</p>


<p> Le mot de passe, à modifier à la première connexion, est : {{ pass }}</p>