{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block body %}
    <h1>Modifier Salarié</h1>

    {{ include('utilisateur/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('utilisateur_index') }}"> liste de salariés</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
