{% extends 'base.html.twig' %}

{% block title %}Modifier Client{% endblock %}

{% block body %}
    <h1>Modifier Client</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('client_index') }}">liste des clients</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
