{% extends 'base.html.twig' %}

{% block title %}Edit Equipe{% endblock %}

{% block body %}
    <h1>Créer Nouvelle Equipe</h1>

    {{ include('equipe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('equipe_index') }}"> liste des équipes</a>

    {{ include('equipe/_delete_form.html.twig') }}
{% endblock %}
