{% extends 'base.html.twig' %}

{% block title %}Equipe index{% endblock %}

{% block body %}
    <h1>Equipes</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipe in equipes %}
            <tr>
                <td>{{ equipe.nom }}</td>
                <td>
                    <a href="{{ path('equipe_show', {'id': equipe.id}) }}">Afficher</a>
                    <a href="{{ path('equipe_edit', {'id': equipe.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">pas de data</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('equipe_new') }}">Créer nouvelle équipe</a>
{% endblock %}
